<div class="content">
  <h2><%= @joke.name %></h2>
  <div><%= @joke.content %></div>

  <br>

  <div><strong>Published by:</strong> <%= @joke.author %></div>
  <br>
  <br>
  <a href="/jokes" class="cta-button">Back to the Joke Page</a>

</div>
